



/* shbib related *********************************************************** */
/* for the fieldgroup in editor*/

div.mir-fieldset-content > div.subject_select > div.form-group:first-of-type > div {
  padding-top: 6px;
}
div.mir-fieldset-content > div.subject_select > div.form-group:last-of-type > div {
  padding-bottom: 6px;
}
div.mir-fieldset-content > div.subject_select:last-of-type > div.form-group > div.col-md-6 {
  border-bottom-left-radius: 10px;
}

div.mir-fieldset-content > div.subject_select > div.form-group {
    margin-bottom: 0px;
}

div.mir-fieldset-content > div.subject_select > div.form-group > div.col-md-6 {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: #CCC;
    padding-left: 13px;
    padding-bottom: 5px;
}

