/*
 *  footer settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  .flatmir-footer {
    background-color: transparent;
    border-top: none;
    margin-top: 0;
    .container {
      margin: 0 auto;
    }
    .shbib-footer {
      height: 270px;
      background-color: white;
      padding: 15px 10px;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      &::before {
        content: " ";
        background: url("../../../../images/bg_footer_red.svg") no-repeat bottom;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
      }
      .internal_links {
        z-index: 1;
      }
    }
    #powered_by {
      background-color: $sb-blue;
      border-top: none;
      padding: 1rem 0px;
    }
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
