/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJUo2lTMeWA_kmIyWrkNCwPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* base ******************************************************************** */

body {
  background-color: #F7F7F7;
  background-image: none;
  font-family: Roboto;
  color: #4d4d4d;
}

html body #page {
  padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

a, a:hover, a:focus {
  color: #c74a39;
}

.tab-pane {
  padding: 20px 10px;
}


/* header ****************************************************************** */

header {
  margin-top: 0px;
  
}

header #head .row #header_back,
header .container .row #header_back {
    background-image:none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

header .container .row #header_top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: none;
}

header .mir-prop-nav .navbar-nav > li > a {
    padding: 10px 15px 0px 15px;
    font-size: 14px;
}

/* xs: default up to 750px ***************************************************/

header .container .row #header_back {
  
  background-position: top left;
  background-size: cover;
  height: 250px;
}

@media (min-width: 320px) {
  header .container .row #header_back {
    height: 250px;
  }
}


@media (min-width: 570px) {
  header .container .row #header_back {
    height: 250px;
  }
}
@media (min-width: 650px) {
  header .container .row #header_back {
    height: 250px;
  }
}
/* sm: up to 970 px **********************************************************/
@media (min-width: 751px) {
  header .container .row #header_back {
    height: 250px;
  }
}


/* md: up to 1170 px *********************************************************/
@media (min-width: 971px) {
  header .container .row #header_back {
    
    height: 250px;
  }
}


/* lg: larger than 1170 px ***************************************************/
@media (min-width: 1171px) {
  header .container .row #header_back {
    
    height: 250px;
  }
}


/* footer ****************************************************************** */

footer .container {
  padding-top: 0px;
  background-color: #002d4f;
  color: #85d7ed; 
}

footer .container #menu {
  background-color: #002d4f;
  background-image: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

footer .container #menu #sub_menu li a, footer .container #menu #sub_menu li:before {
  color: #85d7ed;
  content: ' ';
}

footer .container #menu #copyright {
  color: #333;
}


/* buttons ***************************************************************** */

.btn-default,
.btn-primary,
.btn-default:focus,
.btn-primary:focus,
.btn-default:active,
.btn-primary:active {
  color: #ffffff;
  background-color: #c74a39;
  border-color: #4D4D4D;
  
}

.btn-default:hover,
.open > .dropdown-toggle.btn-default,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
  background-color: #E19E95;
  border-color: #E19E95;
  color: white;
}

.viewer .btn {
  background-color: #FFF;
}

.viewer .btn:hover {
  background-color: #3685D4;
}

.viewer .navbar.navbar-default .dropdown {
    height: 34px;
}

.mycoreViewer > div:not(.navbar):not(.navbar-default) {
    top: 66px;
}

.mycoreViewer:not(.viewer) .navbar.navbar-default select {
    height: 42px;
}

.info-button {
  margin-top: 4px;
  padding: 6px 14px 5px 14px;
}

.file_box .header .headline .title .file_toggle {
  font-size: 12px;
}

/* forms ******************************************************************* */

.form-control {
  
}

.navbar-default .form-control:focus {
  border-color: #3685D4;
}

.form-control::-moz-placeholder{
  color:#ccc;
  opacity:1
}

.form-control:-ms-input-placeholder{
  color:#ccc;
}

.form-control::-webkit-input-placeholder{
  color:#ccc;
}

#dynamic_editor-large .form-group,
#dynamic_editor .form-group,
#editor-admin-form-large .form-group,
#editor-admin-form .form-group {
  margin-bottom: 10px;
}

#dynamic_editor-large .mir-fieldset-content > .form-group,
#dynamic_editor .mir-fieldset-content > .form-group,
#dynamic_editor .mir-fieldset-content > .subject_select > .form-group,
#editor-admin-form-large .mir-fieldset-content > .form-group,
#editor-admin-form .mir-fieldset-content > .form-group {
  margin-bottom: 0px;
}

#dynamic_editor-large label, #editor-admin-form-large label {
  font-weight: normal;
}

#dynamic_editor label, #editor-admin-form label, #complexSearch label {
  font-weight: normal;
  font-size: 12px;
}

#dynamic_editor .form-control, #editor-admin-form .form-control, #complexSearch .form-control, #complexSearch .input-group-addon {
  padding: 6px 8px;
  height: 31px;
  font-size: 12px;
}

#dynamic_editor textarea.form-control, #editor-admin-form textarea.form-control, #complexSearch textarea.form-control {
  height: auto;
}

#dynamic_editor .btn, #editor-admin-form .btn, #complexSearch .btn {
  padding: 6px 8px;
  font-size: 12px;
  margin-top: 0px;
}

#dynamic_editor .form-pmud .btn, #editor-admin-form .form-pmud .btn, #complexSearch .form-pmud .btn {
  margin-right: -1px;
}

.tooltip {
  font-family:Verdana;
  font-size:11px;
}

#editor-buttons {
  margin-top: 20px;
}

/* pagination  ************************************************************* */

.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus,
.pagination .disabled > span {
  background-color: #ffffff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: white;
  background-color: #3685D4;
  border-color: #3685D4;
}

/* label  ****************************************************************** */

.label-info[href]:hover,
.label-info[href]:focus {
  color: #fff;
  background-color: #3685D4;
}

.label-primary {
  background-color: #0065CA;
}
h3 label {
  font-weight: 300;
}


/* classification  ********************************************************* */

ul.cbList li {
  background-color: #EDF5FB;
}

ul.cbList li:nth-child(2n+1) {
  background-color: transparent;
}

ul.cbList li:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

ul.cbList li:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}


/* name index ***************************************************************** */
ul.names li a {
  color: #27568F;
  background-color: #EDF5FB;
  border: none;
}
ul.names li.active a {
  color: white;
  background-color: #27568E;
}

ul.names li a:hover,
ul.names li.active a:hover {
  color: white;
  background-color: #3685D4;
}

/* navigation ************************************************************** */

ul.navbar-nav {
  /* font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif; */
  font-weight: 300;
}

.navbar {
  font-family: Roboto;
}


/* sidenav ****************************************************************** */

#searchInput {
  padding: 4px 8px !important;
  margin-top:0px !important;
  font-family: verdana,arial,sans-serif;
  font-weight: normal;
}

#side_nav_column .mir-side-nav nav .navbar-form {
  margin: 0px 0px 30px 15px;
}

#side_nav_column .mir-side-nav nav .navbar-form .btn {
  margin: 0px;
}

#side_nav_column form button span {
  color: #999999;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}
#side_nav_column form button:hover span {
  color: #ffffff;
}

#side_nav_column nav > ul > li > a {
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a {
  color: white;
  color: #191919;
  background-color: #BCD2F2;
  background-color: transparent;
  border-color: transparent;
  font-size: 18px;
  padding: 0px 15px;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li > a:focus,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a:focus {
  background-color: transparent;
  color: #191919;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu {
  border-width: 0px 0px 0px 0px;
}

.button_box #hide_side_button.navbar-toggle {
  background-color: #e19e95;
  border-color: #e19e95;
}

.button_box #hide_side_button.navbar-toggle:hover,
#side_nav_column .mir-side-nav nav .navbar-form .btn:hover {
  background-color: #c74a39;
  border-color: #c74a39; /*#27568E*/;
  color: white;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a {
  padding: 3px 10px 3px 25px;
  line-height: 18px;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a:focus,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a:focus {
  background-color: #c74a39;
  color: #4d4d4d;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li.active > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li.active > a {
  border-left: 2px solid transparent;
  background-color: #c74a39;
  color: #ffffff;
}

#side_nav_column .mir-side-nav nav .navbar-nav li.dropdown,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active  {
  border-top: 1px solid #0065CA;
  margin-top: 20px;
  padding-top: 10px;
}

#basket-list-item > a:before {
  content:"Merkliste ";
}

#basket-list-item > a > i.fa {
  display: none;
}

#side_nav_column .mir-side-nav nav .navbar-form #searchInput.form-control {
  height: 30px;
}

/* result list ************************************************************* */

.result_body .result_list #hit_list .hit_item:hover,
.result_body .result_list #hit_list .hit_item:hover .btn {
  border-color: #27568E;
}

.result_body .result_list #hit_list .hit_item:hover .hit_icon {
  border-left-color: #27568E;
}

.result_body .result_list #hit_list .hit_item:hover .hit_counter {
  color: #27568E;
  border-color: #27568E;
}

.result_body .result_list #hit_list .hit_item:hover .hit_stars_5 .hit_star {
  background-color: #27568E;
}

.result_body .result_list #hit_list .hit_item .hit_options .dropdown-menu > li > a:hover {
  background-color: #3685D4;
}
.result_body .result_list #hit_list .hit_item .hit_options .open > .dropdown-toggle,
.result_body .result_list #hit_list .hit_item .hit_options .btn:hover,
.result_body .result_list #hit_list .hit_item .hit_options .open .btn:hover {
  color: #27568F;
}

.result_body .result_list #hit_list .hit_item .hit_author {
  font-size: 14px;
}

.hit_date {
  display: none;
}

/* bread crumb ************************************************************* */

.breadcrumb {
  padding: 8px 150px 0px 0px;
  margin-bottom: 20px;
  list-style: outside none none;
  border-bottom: solid thin #5095da;
}

/* details ***************************************************************** */

.detail_block > h1 {
  font-size: 28px;
}


.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #B94A48;
}

.has-error .form-control, .has-error .form-control:focus {
  border-color: #B94A48;
}

.has-error .form-control:focus {
  box-shadow: 0px 1px 1px rgba(185, 74, 72, 0.38) inset, 0px 0px 8px rgba(185, 74, 72, 0.39);
}

/* TODO: fix style ********************************************************* */
#aux_col_actions {
  padding-left: 0px;
}

.modal-body > textarea {
  width: 560px;
  height: 215px;
}


/* print media ************************************************************* */

@media print {
  .ellipsis {
    display: none;
  }
  
  .result_list {
    width: 100%;
  }
  
  .result_searchline , .result_filter {
    display: none;
  }
  
  .hit_item, .panel  {
    page-break-inside: avoid;
  }
  
  #head, #menu_toggle, #side_nav_column {
    display: none;
  }
}




/* shbib related *********************************************************** */
#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a, #side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a 
{
  color: #4d4d4d;
}

#header_heading {
  position:relative;
  font-family: RobotoSlab;
  font-size: 35px;
  height: 250px;
  width: 550px;
  padding-left: 27px;
  padding-top: 25px;
}

#header_subheading {
  font-family: Roboto;
  color: #c74a39;
  font-size: 26px;
  padding-top: 10px;
}

#header_ship {
  background-image: url("../images/ship.png");
  position:absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#header_building {
  background-image: url("../images/building.png");
  position:absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#header_login {
  width: 180px;
  height: 50px;
  position:absolute;
  top: 25px;
  right: 15px;
}

#header_search {
  width: 440px;
  height: 50px;
  position: absolute;
  top: 204px;
  left: 15px;
  background-color: white;
  z-index: 30;
  padding-left: 0px;
  padding-top: 8px;
}

#header_searchInput {
  margin-top:0px;
  padding: 6px 12px 7px 12px;
  border: none;
  width: 392px;
  font-size: 20px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) ! important;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) ! important;
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s ! important;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s ! important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s ! important;
}

#header_searchInput:focus {
  outline:0;
  -webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) ! important;
  box-shadow:inset 0 0px 0px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6) ! important;
}

#header_searchSubmit {
  border:none;
  color: #4d4d4d;
  font-size: 20px;
  height: 40px;
  margin-right: 0px;
  background-color: transparent;
}


@media (min-width: 650px) {

  #header_flag {
    width: 70px;
    height: 50px;
    top: 30px;
    left: 435px;
  }
  
  #header_search {
    top: 204px;
    left: 15px;
  }
  
}

@media (min-width: 751px) {
  #header_search {
    top: 204px;
    left: 15px;
  }
  
}

@media (min-width: 768px) {

  #header_ship {
    width: 110px;
    height: 250px;
    top: 0px;
    right: 150px;
  }

  #header_building {
    width: 240px;
    height: 250px;
    top: 2px;
    right: 15px;
  }

}

@media (min-width: 992px) {

  #header_ship {
    width: 190px;
    height: 250px;
    top: 0px;
    right: 240px;
  }

  #header_building {
    width: 400px;
    height: 250px;
    top: 2px;
    right: 15px;
  }

}

@media (min-width: 1200px) {

  #header_ship {
    width: 280px;
    height: 250px;
    top: 0px;
    right: 310px;
  }

  #header_building {
    width: 550px;
    height: 250px;
    top: 2px;
    right: 15px;
  }

}

#left-top-bd {
  background-image: url("../images/left-top-bd.png");
  width: 8px;
  height: 16px;
  position:absolute;
  top: -0px;
  left: -5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#right-top-bd {
  background-image: url("../images/right-top-bd.png");
  width: 8px;
  height: 16px;
  position:absolute;
  top: -0px;
  right: -5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#page {
  background-image: url("../images/top-bd.png");
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 8px;
  position:relative; 
}

#main_content_column {
  padding-left: 30px;
}

#menu_toggle {
  position: absolute;
  left: -10px;
}


ul .navbar-nav > li {
  margin-top:0px;
  border-top:none;
}

.label-info {
    background-color: #0065CA;
}

#footer_wave {
  background-image: url("../images/wave.png");
  width: 100%;
  height: 30px;
  background-repeat: repeat-x;
}

#credits {
  background-color: #002948;
  padding-top: 15px;
}

#powered_by {
  padding: 0px !important;
}

#resultListPagination {
  margin-top:30px;
}

.pagination > .active > a, .pagination > .active > span,
.pagination > .active > a:hover, .pagination > .active > span:hover,
 .pagination > .active > a:focus, .pagination > .active > span:focus {
   background-color: #C74A39;
   color: #fff;
 }
 
 
.mir-fieldset-content > .form-group {
  	margin-bottom: 0px;
}

div.mir-fieldset-content > div.subject_select > div.form-group:first-of-type > div {
  padding-top: 6px;
}
div.mir-fieldset-content > div.subject_select > div.form-group:last-of-type > div {
  padding-bottom: 6px;
}
div.mir-fieldset-content > div.subject_select > div.form-group:last-of-type > div.col-md-6 {
  border-bottom-left-radius: 10px;
}
 
div.mir-fieldset-content > div.subject_select > div.form-group > div.col-md-6 {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: #CCC;
    padding-left: 13px;
    padding-bottom: 5px;
}

.input-group > .input-group-addon {
    border-width: 1px 0;
}

#shbib_feedback {
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: -24px;
  transform: rotate(-90deg);
  display: block;
  background: #c74a39;
  padding: 8px 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #c74a39;
  border-left: solid 0px #c74a39;
  border-right: solid 1px #c74a39;
  z-index: 999;
  width: 80px;
  text-align: center; 
}
#shbib_feedback:hover {
  background: #e19e95; 
  border-bottom: solid 1px #e19e95;
  border-left: solid 0px #e19e95;
  border-right: solid 1px #e19e95;
}
#shbib_feedback a {
  color: #fff;
}

:not(.input-group-btn)  > .btn {
    margin-right: 0px;
}

/* Barrierefreiheit */
.mir-prop-nav .navbar-nav > li > a {
	color: #666;
    font-size: 85%;
    padding: 0;
}
.breadcrumb > .active {
    color: #666666;
}
.panel-default > .panel-heading {
    color: #666;
    background-color: #f9f9f9;
    border-color: #ddd;
}
